[stoneridge]
root = /Users/hurley/src/stoneridge
logs = /Users/hurley/src/stoneridge/testroot/logs
testroot = /Users/hurley/src/stoneridge/tests
archives = /Users/hurley/src/stoneridge/testroot/archives
mqhost = localhost

[download]
server = localhost:8080
root = latest

[dns]
broadband = 1.2.3.4
umts = 5.6.7.8
gsm = 9.10.11.12

[cloner]
host = ftp.mozilla.org
root = /pub/mozilla.org/firefox
output = /Users/hurley/src/stoneridge/testroot/srv/dl

[report]
host = datazilla.mozilla.com
project = stoneridge
key = PUT_OAUTH_KEY_HERE
secret = PUT_OAUTH_SECRET_HERE
archives = /Users/hurley/src/stoneridge/testroot/ularchives

[machine]
os_name = <linux|mac|windows>
download_platform = <linux64|linux32|mac|win64|win32>
download_suffix = <tar.bz2|dmg|zip>
firefox_path = <firefox|FirefoxNightly.app/Contents/MacOS>
