[update]
scheme = git
url = http://github.com/todesschaf/stoneridge.git

[download]
server = localhost:8080
root = latest

[upload]
url = http://localhost:8080/upload

[dns]
broadband = 1.2.3.4
umts = 5.6.7.8
gsm = 9.10.11.12

[cloner]
host = ftp.mozilla.org
path = /pub/mozilla.org/firefox/nightly/latest-mozilla-central

[server]
uploads = /Users/hurley/stone_ridge/srv/ul
downloads = /Users/hurley/stone_ridge/srv/dl

[report]
host = datazilla.mozilla.com
project = stoneridge
key = PUT_OAUTH_KEY_HERE
secret = PUT_OAUTH_SECRET_HERE
archives = /Users/hurley/srhome/ularchives

[tcpdump]
exe = /path/to/tcpdump
interface = tcpdump_interface_name
