[run]
netconfig = somenetconfigname
work = /tmp/somedirectoryname
download = <work>/download
bin = <work>/<fxapppath>
out = <work>/out
metadata = <out>/metadata.zip
info = <out>/info.json
xpcoutleaf = somedirectoryname
srid = someuuid
